/*
upload-con: container
    added-photos-con: photo view container
        added-photo
    sel-photo-form: container
        sel-head: 'Select photo...'
        sel-input: (file)
        upload-form__button sel-button
*/

.upload-con {
    margin: auto;
    box-shadow: 0px 0px 6px lightgrey;
    padding: 30px;
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.added-photos-con {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.added-photo {
    height: 250px;
    width: 200px;
    overflow: hidden;
}

.sel-photo-form {
    display: flex;
    padding-top: 40px;
    justify-content: flex-end;
}

input[type="file"] {
    display: none;
}

.sel-btn {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 600;
}

label.sel-btn {
    background-color: rgb(169, 177, 162);
    border-radius: 7px 0px 0px 7px;
    color: white;
}
label.sel-btn:hover {
    /* box-shadow: inset 0 0 6px rgb(184, 185, 182); */
    background-color: rgb(233, 236, 228);
    color: rgb(88, 88, 88);
    border-right: none;
}
button.sel-btn {
    background-color: rgb(254, 255, 253);
    border: 1px solid rgb(160, 160, 160);
    border-radius: 0px 7px 7px 0px;
    color: rgb(104, 104, 104);
}

button.sel-btn:hover {
    /* box-shadow: inset 0 0 6px rgb(207, 207, 207); */
    background-color: rgb(99, 99, 99);
    color: rgb(255, 255, 255);
}
