/*
swipe-con: swipe container
    swipe-img-con: image container
        swipe-img: image
    swipe__info: info container
        swipe-info__head: username
        swipe-info__sub-head: location
        swipe-bio: bio
*/

.swipe-con {
    background-color: rgb(215, 237, 245);
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(196, 193, 193);
    width: 70%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    padding: 50px;
    gap: 30px;
}
.swipe-img-con {
    display: flex;
    flex-direction: row;
    max-height: 300px;
    min-width: 250px;
    max-width: 250px;
    overflow-x: scroll;
    overflow-y: hidden;
    box-shadow: 0 0 10px rgb(196, 193, 193);
}
.swipe-img-con::-webkit-scrollbar {
    display: none;
}

.swipe-img {
    height: 100%;
    width: auto;
    margin-right: 10px;
}

.default-image {
    height: 300px;
    width: 250px;
    background-image: url('./default.jpg');
    background-size: cover;
}

.swipe-info {
    display: flex;
    flex-direction: column;
}

.preferences{
    font-family: Arial, Helvetica, sans-serif;
}

.percent-match{
    font-family: Arial, Helvetica, sans-serif;
}