
.messenger{
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(187, 214, 240);
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    background-color: rgb(187, 214, 240);
    margin-left: 25px;
    margin-right: 25px;
    min-height: 400px;
}


.side-bar{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-width: 30%;
    flex: 1;
    padding-bottom: 5px;
    margin-right: 5px;
}

.side-bar::-webkit-scrollbar {
    display: none;
}

.default-profile-image{
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 20px;
}

.username-text{
    margin-top: 7px;
    text-align: center;
}

.user{
    display: flex;
    flex-direction: row;
    margin: 2px 6px 2px 6px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5px;
    margin-top: 10px;
    /* border: 1px solid rgba(253, 254, 255, 0.705); */
    background-color: rgba(253, 254, 255, 0.705);
    border-radius: 3px;
    height: 40px;
    text-align: center;
}

.user-selected{
    display: flex;
    flex-direction: row;
    margin: 2px 6px 2px 6px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5px;
    margin-top: 10px;
    border: 1px solid rgb(253, 254, 255);
    background-color: rgb(253, 254, 255);
    border-radius: 3px;
    height: 40px;
    text-align: center;
}

.user:hover{
    cursor: pointer;
}

.compose-message{
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 246, 251);
    overflow-y: scroll;
    max-height: 450px;
    max-width: 70%;
    border: 1px solid rgb(240, 246, 251);
    border-radius: 8px;
    flex: 1;
    margin: 10px 10px 10px 5px;
}

.compose-message::-webkit-scrollbar {
    display: none;
}

.message-box{
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    margin-bottom: 5px;
    margin-left: 10px;
    height: 50px;
    width: 100%;
}

.message-sender{
    /* width: 440px;
    height: 45px; */
    width: 90%;
    /* height: auto; */
    margin-bottom: 5px;
    resize: none;
    border: solid 1px rgb(223, 227, 231);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll;
}

.message-sender::-webkit-scrollbar {
    display: none;
}

.form-box{
    display: flex;
    flex-direction: row;
    flex: 1;
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    border: 1px solid rgb(240, 246, 251);
    background-color: rgb(240, 246, 251);
    padding-top: 5px;
}

.send{
    align-self: flex-end;
    color: rgb(66, 219, 142);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
}

.send:hover{
    cursor: pointer;
    color: black;
}


.user-message{
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    border-radius: 5px;
    text-align: left;
    margin: 10px 10px 15px 10px;
    padding: 10px 10px 10px 10px;
    align-self: flex-end;
    max-width: 250px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(131, 189, 255);
    border: solid 1px rgb(131, 189, 255);
    box-shadow: 5px 3px 5px 3px rgba(71, 71, 71, 0.171);
}

.from-user-message{
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    border-radius: 5px;
    text-align: left;
    margin: 10px 10px 15px 10px;
    padding: 10px 10px 10px 10px;
    align-self: flex-start;
    max-width: 250px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(159, 233, 169);
    border: solid 1px  rgb(159, 233, 169);
    box-shadow: 5px 3px 5px 3px rgba(71, 71, 71, 0.171);
}