/* TODO Add site wide styles */
@import "styles/profile-styles/userProfile.css";
@import "styles/profile-styles/uploadPhotos.css";
@import "styles/home.css";
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap';
@import "styles/question-styles/mcStyles.css";
@import "styles/setPreferences.css";

body {
    top: 0px;
    width: 100%;
    padding: 0px;
    letter-spacing: .7px;
}
