/*
mc-con
    mc-side-bar
        side-bar-head
        side-bar-info
        side-bar-btn answered
        side-bar-btn new
    mc-ques-con
        ques-con
            ques-head
                mc-sel
                mc-sel-label
*/

.mc-con {
    width: 80%;
    margin: auto;
    padding: 20px;
    display: flex;
    gap: 50px;
}

.mc-side-bar {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(236, 241, 247);
    min-width: 170px;
    height: fit-content;
    color: gray;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 6px gray;
}

.mc-btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.side-bar-btn {
    font-size: 17px;
    padding: 10px;
    text-transform: uppercase;
    color: gray;
    background-color: white;
    border-radius: 10px;
    border: none;
}

.side-bar-btn:hover {
    color: white;
    background-color: rgb(155, 155, 155);
}


.side-bar-info {
    font-weight: 200;
    margin-top: 0px;
}

.mc-ques-con {
    box-shadow: 0 0 6px gray;
    width: 60%;
    min-width: 500px;
    padding: 25px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;
}

.ques-con {
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    padding: 10px;
}

/* .side-bar-btn {
	width: 100%!important;
	padding: 20px 40px!important;
	color: rgb(255, 255, 255)!important;
	background-color: #8a8a85!important;
	border: none!important;
	box-shadow: 0 0 10px gray!important;
	border-radius: 40px!important;
	margin: auto!important;
	font-size: 30px!important;
	font-weight: 600!important;
	letter-spacing: 2px!important;
} */

.side-bar-btn:active {
	color: rgb(128, 128, 128)!important;
	background-color: rgb(236, 236, 236)!important;
}


.ques-head {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.mc-sel {

}

.mc-sel-label {
    align-self: flex-start;
}

.mc-opt {
    display: flex;
    padding-top: ¸10px;
    gap: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}
